  .subscribe-button {
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
    height: 30px;
    width: 100px;    
    border-radius: 2px;
    cursor: pointer;
    margin: 10px;
    font-family: monospace;
    transition: opacity 0.5s;
  }
  .subscribe-button:hover{
    opacity: 0.8;
  }

  .subscribe-button:active{
    background-color: rgb(151, 6, 6);
  }
  .join-button {
    background-color: white;
    color: rgb(40, 200, 200);
    height: 30px;
    width:70px;
    border: none;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.15s, color 0.5s;
  }

  .join-button:hover{
    background-color: rgb(40, 200, 200);
    color: white;
  }
  .join-button:active{
    background-color: rgb(2, 70, 70);
  }

  .twitter-button {
    background-color: rgb(45, 212, 224);
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    width:75px;
    border: none;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    margin: 10px;
    
  }

  .twitter-button:hover{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: rgb(45, 212, 224);
    box-shadow: 5px px 10px rgba(0, 0, 0, 0.15);
  }
  .twitter-button:active{
    color: white;
    background-color: rgb(15, 95, 100);
    border: none;
  }